<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <div class="categories">
        <div class="category-card">Environmental</div>
        <div class="category-card">Educational</div>
        <div class="category-card">Community Service</div>
        <div class="category-card">Health and Wellness</div>
    </div>
    
</main>
<%- include('partials/footer') %>